<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Apartamenty-Krakowskie</title>
    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
<!--

<div id="logo"></a>
    <a href="/main" id="logo"><img src="logo.png" alt="logo"></a>
</div>

<div id="user-menu">
    <th:block th:if="${!isLogged}">
        <a href="/login" id="login-button"></a>
    </th:block>
    <th:block th:if="${isLogged}">
        <a href="/logout" id="login-button"></a>
    </th:block>

</div>

&lt;!&ndash;<div id="finder">
<form method="POST" action="/find">
    <input type="text" placeholder="Szukaj">
    <input type="submit" value="Szukaj">
</form>
</div>&ndash;&gt;

<div id="menu">
    <a href="/allApartments" id="allApartments">Apartamenty</a>

    <a href="/listGuest" id="listGuest">Gości</a>

    <a href="/invoice" id="invoice">Wystaw Fakture</a>
</div>

<div id="content">


    &lt;!&ndash;  <a th:href="@{/addToBasket/{id}(id=${currentBook.id})}">Do koszyka</a>&ndash;&gt;&ndash;&gt;
    -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;opis-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;


</div>
-->
Czy działa
</body>
</html>