<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Apartamenty-Krakowskie</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body id="body">


<div th:replace="templates.html :: logo"></div>
<div th:replace="templates.html :: userMenu"></div>

<div id="menu">

    <a href="/allApartments" id="allApartments">Apartamenty</a>

    <a href="/listGuest" id="listGuest">Gości</a>

    <a href="/invoice" id="invoice">Wystaw Fakture</a>

</div>

<div id="content">

    <a>!!!!!!!!!!!!!!!!!!!!!!!!11Opis aparta!!!!!!!!!!!!!!!!!!!!!!!!!</a>

</div>

</body>
</html>