<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Apartamenty-Krakowskie</title>
    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
<!--

<div th:replace="templates.html :: logo"></div>
<div th:replace="templates.html :: userMenu"></div>


&lt;!&ndash;<div id="finder">
<form method="POST" action="/find">
    <input type="text" placeholder="Szukaj">
    <input type="submit" value="Szukaj">
</form>
</div>&ndash;&gt;

<div id="menu">
    <a href="/allApartments" id="allApartments">Apartamenty</a>

    <a href="/listGuest" id="listGuest">Gości</a>

    <a href="/invoice" id="invoice">Wystaw Fakture</a>
</div>

<div id="content">


    &lt;!&ndash;  <a th:href="@{/addToBasket/{id}(id=${currentBook.id})}">Do koszyka</a>&ndash;&gt;&ndash;&gt;
    -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;opis-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;


</div>
-->
Czy działa
</body>
</html>